.main {
  font-size: 4rem;
  padding-top: 240px;
  font-family: 'Neue Montreal', sans-serif;
  font-weight: 500;
  -webkit-text-stroke: 1px currentColor;
  line-height: 1;
}

.indented {
  text-indent: 4rem;
}

.italic {
  font-family: 'Tiempos Headline', serif;
  font-weight: 300;
  font-style: italic;
  -webkit-text-stroke: 0px currentColor;
}
