.name-hover {
  position: relative;
  text-decoration: underline;
}

.image-hover {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 320px;
  top: -80px;
  left: 80px;
}

.name-hover:hover .image-hover {
  opacity: 1;
  pointer-events: auto;
}
