.navbar {
  font-family: 'Tiempos Headline', serif;
  font-weight: 300;
  font-style: normal;
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.info-time {
  display: flex;
  gap: 160px;
}

.profession {
  font-style: italic;
  color: var(--text-secondary);
}

.time {
  width: 60px;
}

.time-country {
  display: flex;
  gap: 10px;
}

.star {
  width: 20px;
  heigth: 20px;
}
