.sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 120px;
  padding-top: 120px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-title {
  font-family: 'Tiempos Headline', serif;
  font-weight: 300;
  font-style: italic;
}

#awards .section-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#say-hi .section-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-footer {
  color: var(--text-secondary);
  font-style: italic;
}

