@import 'tailwindcss';

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal/PPNeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal/PPNeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal/PPNeueMontreal-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal/PPNeueMontreal-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('/fonts/TiemposHeadline/TestTiemposHeadline-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('/fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@theme {
  --color-ink: #0A0A0A;       
  --color-muted: #888888;     
  --color-ink-hover: #5A5A5A; 
  --color-canvas: #E2E2E2;

  --font-tiempos: 'Tiempos Headline', serif;
  --font-neue: 'Neue Montreal', sans-serif;
}

body {
  font-family: var(--font-neue);
  font-weight: 400;
  color: var(--color-ink);
  background-color: var(--color-canvas);
}
