@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('fonts/TiemposHeadline/TestTiemposHeadline-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('fonts/TiemposHeadline/TestTiemposHeadline-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

:root {
  --text-primary: #0A0A0A;
  --text-secondary: #888888;
  --text-hover: #5A5A5A;

  --bg-primary: #E2E2E2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Neue Montreal', sans-serif;
  font-weight: 400;
  margin: 24px 20px;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

